body,

body{
    background-image: url('img/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

.swiper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 1s ease-in-out;
}

.slide {
    width: 100%;
    height: 100vh;
    flex-shrink: 0;
}

.swiper img {
    width: auto;
    height: 100%;
}
